* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #ccadad;
  --secondary-color: #d3d2cd;
  --third-color: #6360609c;
  --fourth-color: #ffff;
  --paragraph-color: #bababa;
  --content-margin: 50px;
  --header-bg-color: #ffff;
  --header-text-color: black;
  --header-hover-color: #ccadad;
  --home-bg-color: #ffff;
  --home-text-color: #6360609c;
  --about-text-color: #d3d2cd;
  --portfolio-item-hover-bg: rgba(0, 0, 0, 0.233);
  --portfolio-item-hover-text: #ccadad;
  --clients-text-color: #d3d2cd;
  --contact-text-color: #363636;
  --contact-input-border: #605e5e;
  --contact-button-color: #605e5e;
  --contact-info-color: #5c5c5c;
  --footer-bg-color: #ffff;
  --footer-text-color: #605e5e;
  --button-bg-color: #dadee1;
  --button-color: #db111154;
}
a {
  color: var(--header-text-color);
}
.container {
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* style-componets */
.mini-header {
  text-align: center;
  color: var(--paragraph-color);
  font-style: italic;
  font-size: 12px;
}
.mini-header::before {
  content: "";
  background-color: var(--paragraph-color);
  width: 1px;
  height: 55px;
  display: block;
  position: relative;
  left: calc(50% - 0.5px);
  top: 0;
  margin-bottom: 20px;
}

/* header */
header {
  background-color: var(--header-bg-color);
  position: sticky;
  top: 15px;
  padding: 10px 0;
  z-index: 999;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
}
header .container h1 {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li a {
  text-decoration: none;
  color: var(--header-text-color);
  font-size: 20px;
  transition: color 0.5s;
}
header nav ul li a:hover {
  color: var(--header-hover-color);
}
@media screen and (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header nav ul {
    margin-top: 20px;
  }
  header nav ul li a {
    font-size: 18px;
  }
}
/* home secation */
.home {
  background-image: url(../imgs/home_img.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0;
  height: calc(100vh - 100px);
  margin: 0 50px;
}
.home .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .content h1 {
  font-size: 50px;
  color: var(--fourth-color);
  text-align: center;
  text-transform: uppercase;
}
.home .content p {
  font-size: 40px;
  color: var(--home-text-color);
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .home {
    margin: 0 15px;
  }
  .home .content h1 {
    font-size: 30px;
  }
  .home .content p {
    font-size: 5px;
    line-height: 1;
  }
}
/* about-secation */
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .content {
  margin-top: var(--content-margin);
  text-align: center;
  width: 50%;
  line-height: 1.5;
  color: var(--about-text-color);
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .about .content {
    width: 100%;
  }
}
/* portfoilo-seaction */
.portfolio .container .content {
  margin-top: var(--content-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.portfolio .content .portfolio-item {
  width: calc(100% / 4);
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .portfolio .content .portfolio-item {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 500px) {
  .portfolio .content .portfolio-item {
    width: 100%;
  }
}

.portfolio .portfolio-item img {
  width: 100%;
  height: 300px;
  transition: transform 0.5s;
}
.portfolio .portfolio-item .portfolio-item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-item-hover-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s;
  padding: 30px;
  text-align: center;
}
.portfolio .portfolio-item .portfolio-item-text h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-style: italic;
  color: var(--portfolio-item-hover-text);
}

.portfolio .portfolio-item:hover .portfolio-item-text,
.portfolio .portfolio-item:focus .portfolio-item-text {
  opacity: 5;
}
.portfolio .portfolio-item:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
/* clients-secation */
.clients .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clients .content {
  margin-top: var(--content-margin);
  text-align: center;
  width: 50%;
  line-height: 1.5;
  color: var(--clients-text-color);
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .clients .content {
    width: 100%;
  }
}
/* contact-seaction */
.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.contact .container h4 {
  font-size: 20px;
  color: var(--contact-text-color);
}

.contact .content form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact .content form .all-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .form-group:first-child {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-style: italic;
  margin-bottom: 10px;
}

.contact .form-group:first-child input {
  padding: 10px;
  width: 300px;
  border: 1px solid var(--contact-input-border);
}

.contact .form-group:first-child input:focus {
  outline: none;
}

.contact form button {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 6px;
  color: var(--contact-button-color);
  background-color: transparent;
  border: none;
}

.contact .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  color: var(--contact-info-color);
  font-size: 20px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .contact .form-group:first-child input {
    width: 100%;
  }

  .contact form button {
    font-size: 15px;
  }

  .contact .content form {
    flex-direction: column;
  }

  .contact .info {
    font-size: 15px;
  }
}

/* footer */
footer {
  position: sticky;
  bottom: 0;
  background-color: var(--footer-bg-color);
  padding: 20px 0;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 10px;
}
footer .socail-media {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
footer .content p {
  color: var(--footer-text-color);
  font-style: italic;
}
/* Additional comments or styling can be added here */

.component button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: -50px;
  transition: all 1s;
}
.component button.show {
  right: 25px;
}

/* End of css/style.css */
