* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #ccadad;
  --secondary-color: #d3d2cd;
  --third-color: #6360609c;
  --fourth-color: #ffff;
  --paragraph-color: #bababa;
  --content-margin: 50px;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* style-componets */
.mini-header {
  text-align: center;
  color: #bababa;
  font-style: italic;
  font-size: 12px;
}
.mini-header::before {
  content: "";
  background-color: #bababa;
  width: 1px;
  height: 55px;
  display: block;
  position: relative;
  left: calc(50% - 0.5px);
  top: 0;
  margin-bottom: 20px;
}

/* header */
header {
  background-color: #ffff;
  position: sticky;
  top: 15px;
  padding: 10px 0;
  z-index: 999;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
}
header .container h1 {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: color 0.5s;
}
header nav ul li a:hover {
  color: #ccadad;
}
@media screen and (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header nav ul {
    margin-top: 20px;
  }
  header nav ul li a {
    font-size: 18px;
  }
}
/* home secation */
.home {
  background-image: url(./imgs/home_img.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0;
  height: calc(100vh - 100px);
  margin: 0 50px;
}
.home .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .content h1 {
  font-size: 50px;
  color: #ffff;
  text-align: center;
  text-transform: uppercase;
}
.home .content p {
  font-size: 40px;
  color: #6360609c;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .home {
    margin: 0 15px;
  }
  .home .content h1 {
    font-size: 30px;
  }
  .home .content p {
    font-size: 5px;
    line-height: 1;
  }
}
/* about-secation */
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .content {
  margin-top: var(--content-margin);
  text-align: center;
  width: 50%;
  line-height: 1.5;
  color: #d3d2cd;
  font-size: 20px;
}
/* portfoilo-seaction */
.portfolio .container .content {
  margin-top: var(--content-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.portfolio .content .portfolio-item {
  width: calc(100% / 4);
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .portfolio .content .portfolio-item {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 500px) {
  .portfolio .content .portfolio-item {
    width: 100%;
  }
}

.portfolio .portfolio-item img {
  width: 100%;
  height: 300px;
  transition: transform 0.5s;
}
.portfolio .portfolio-item .portfolio-item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s;
  padding: 30px;
  text-align: center;
}
.portfolio .portfolio-item .portfolio-item-text h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-style: italic;
  color: #ccadad;
}

.portfolio .portfolio-item:hover .portfolio-item-text,
.portfolio .portfolio-item:focus .portfolio-item-text {
  opacity: 5;
}
.portfolio .portfolio-item:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
